framework/dsl/schema/test_case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="stepType">
    <xs:sequence>
      <xs:element name="arg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="value" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element name="kwarg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="value" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="keyword" type="xs:string" use="required" />
    <xs:attribute name="timeout" type="xs:string" use="optional" />
    <xs:attribute name="retry" type="xs:nonNegativeInteger" use="optional" />
    <xs:attribute name="continue_on_failure" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="variablesType">
    <xs:sequence>
      <xs:element name="var" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="value" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stepsGroupType">
    <xs:sequence>
      <xs:element name="step" type="stepType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="keywordType">
    <xs:sequence>
      <xs:element name="step" type="stepType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="keywordsType">
    <xs:sequence>
      <xs:element name="keyword" type="keywordType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="suite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="variables" type="variablesType" minOccurs="0" maxOccurs="1" />
        <xs:element name="keywords" type="keywordsType" minOccurs="0" maxOccurs="1" />
        <xs:element name="setup" type="stepsGroupType" minOccurs="0" maxOccurs="1" />
        <xs:element name="case" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="variables" type="variablesType" minOccurs="0" maxOccurs="1" />
              <xs:element name="setup" type="stepsGroupType" minOccurs="0" maxOccurs="1" />
              <xs:element name="step" type="stepType" minOccurs="1" maxOccurs="unbounded" />
              <xs:element name="teardown" type="stepsGroupType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="tags" type="xs:string" use="optional" />
            <xs:attribute name="module" type="xs:string" use="optional" />
            <xs:attribute name="type" type="xs:string" use="optional" />
            <xs:attribute name="priority" type="xs:string" use="optional" />
            <xs:attribute name="owner" type="xs:string" use="optional" />
            <xs:attribute name="retry" type="xs:nonNegativeInteger" use="optional" />
            <xs:attribute name="continue_on_failure" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="teardown" type="stepsGroupType" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
